.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: auto;

  height: 100%;

  &__login {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #e4e4e4;
    height: 25%;
    margin: auto;
    box-shadow: 0px 0px 3px 3px grey;
    border-radius: 19px;
  }

  &__title {
    margin: auto;
    font-size: 2em;
  }

  &__btn {
    height: 40px;
    background: white;
    margin: auto;
    border-radius: 5px;
    color: black;
    border: 1px solid gray;
  }
}
